div.bar {
  background-color: rgb(255, 255, 255, 1);
  /* background: rgba(237, 230, 230, 0.25); */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: fit-content;
  /* z-index: -10; */
  border-radius: 10px;
  top: 1px;
  position: absolute;
  /* z-index: -1; */
  margin-left: 90px;
  /* margin-top: 15px; */
  padding: 10px;
}
.ha {
  margin-left: 110px;
  font-size: 20px;
}
