body{
    text-decoration: none;
}
.create{
display: flex;
}

input[type="color"] {
    -webkit-appearance: none;
    border: none;
    width: 30%;
    height: 5vh;
  }
  input[type="color"]::-webkit-color-swatch-wrapper {
    background: rgba(255, 255, 255, 1);
    padding: 0;
  }
  input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 10vh;
  }
  .register-screen
  {
    margin-top:10%;
    width:100%;
  }
 