/* body{
    text-decoration: none;
}
.create{
display: flex;
}

input[type="color"] {
    -webkit-appearance: none;
    border: none;
    width: 30%;
    height: 5vh;
  }
  input[type="color"]::-webkit-color-swatch-wrapper {
    background: rgba(255, 255, 255, 1);
    padding: 0;
  }
  input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 10vh;
  }

  .create-form{
    padding: 1.5rem;
    background: #fff;
    justify-content: center;
    align-items: center;
  } */
body {
  text-decoration: none;
}
.create {
  display: flex;
  font-family: "Kiwi Maru", serif;
  font-weight: 500;
  position: absolute;
  left: 300px;
  margin-left: 50px;
}
.update {
  position: absolute;
  left: 50px;
}
input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 30%;
  height: 5vh;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  background: rgba(255, 255, 255, 1);
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 10vh;
}
input[name="title"] {
  width: 900px;
  border-radius: 10px;
}

.create-form {
  width: 1000px;
  height: 570px;
  font-family: "Kiwi Maru", serif;
  font-weight: 400;
  color: #301b3f;
  border-radius: 15px;
  padding: 1rem;
  /* background: rgb(237,237,237); */
  background-color: rgba(206, 199, 232, 0.8);
  justify-content: center;
  position: absolute;
  top: 100px;
  align-items: center;
  z-index: -1;
}
.fix-btn {
  padding: 8px 25px;
  margin-left: 350px;
  display: block;
  background-color: #301b3f;
  width: 300px;
}
.f-grp {
  padding-left: 20px;
}
.form-group textarea {
  border-radius: 15px;
}
/* .ppppp
  {
    display:block;
    margin:50px;

  } */
/* .colors,.bg
  {
    display:inline-block;
    float:left;
    
  } */
.register-screen__title {
  color: #301b3f;
}
.colour {
  margin-bottom: 20px;
}
.xxa {
  margin-left: 20px;
}
.xxb {
  margin-left: 150px;
}
.xxc {
  margin-left: 250px;
}
.choice {
  border-radius: 5px;
  background-color: red;
}

div.space {
  display: block;
  height: 200px;
  width: 100px;
}

div.space2 {
  display: inline-block;
  width: 170px;
}

div.space3 {
  display: inline-block;
  width: 20px;
}

.tab2 {
  tab-size: 4;
}

.deleteIcon {
  border-radius: 20px;
  height: 30px;
  width: 40px;
  color: black;

  box-shadow: 10px 10px 5px #ccc;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  -khtml-box-shadow: 10px 10px 5px #ccc;
}

.preview-header {
  position: absolute;
  top: 47rem;
  left: 32rem;
}

/* button */
.wrapper {
  position: absolute;

  top: 525px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.link_wrapper {
  position: relative;
}

.btn-create {
  display: block;
  width: 250px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  text-decoration: none;
  background: #482b5d;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #333;
  transition: all 0.35s;
  font-family: "Kiwi Maru", serif;
  font-weight: 500;
}

.icon {
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  border-radius: 25px;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -1;
  transition: all 0.35s;
}

.icon svg {
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: #482b5d;
  transition: all 0.35s;
}

.btn-create:hover {
  width: 200px;
  border: 3px solid #482b5d;
  background: transparent;
  text-decoration: none;
  color: #482b5d;
}

.btn-create:hover + .icon {
  border: 3px solid #482b5d;
  right: -25%;
}
.deleteIcon:hover {
  background-color: azure;
}
.status {
  border-radius: 10px;
  border: 3px solid #7868e6;
}
.stat {
  background-color: #e4fbff;
}
