/* body{
    text-decoration: none;
}
.create{
display: flex;
}

input[type="color"] {
    -webkit-appearance: none;
    border: none;
    width: 30%;
    height: 5vh;
  }
  input[type="color"]::-webkit-color-swatch-wrapper {
    background: rgba(255, 255, 255, 1);
    padding: 0;
  }
  input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 10vh;
  }

  .create-form{
    padding: 1.5rem;
    background: #fff;
    justify-content: center;
    align-items: center;
  } */
  body{
    text-decoration: none;
}
.create{
  
display: flex;


}

input[type="color"] {
    -webkit-appearance: none;
    border: none;
    width: 30%;
    height: 5vh;
  }
  input[type="color"]::-webkit-color-swatch-wrapper {
    background: rgba(255, 255, 255, 1);
    padding: 0;
  }
  input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 10vh;
  }
    input[name=title]
    {
      width:1059px;
      border-radius: 10px;
    }
    
    
  .create-form{
    
    color:#000;
    border-radius: 15px;
    padding: 1.5rem;
    background: rgb(237,237,237);
    /* background:#000;
    opacity:0.9; */
    justify-content: center;
    position: absolute;
     top:100px;
    
    align-items: center;
    z-index: -1;
  }
  .fix-btn
  {
    padding:8px 25px;
    margin: auto;
    display:block;
    background-color:#FFA500;
    width:300px;
  }
  .f-grp{
    padding-left:60px;
    
  }
  .form-group textarea{
    border-radius: 15px;
  }
  /* .ppppp
  {
    display:block;
    margin:50px;

  } */
  /* .colors,.bg
  {
    display:inline-block;
    float:left;
    
  } */

  .xxa{
    margin-left:30px;
  }
.xxb
{
 margin-left:200px;  
}
  .choice
  {
    border-radius: 5px;
    background-color: red;
  }

  div.space{
    display: block;
    height: 200px;
    width: 100px;
  }

  div.space2{
    display: inline-block;
    width: 170px;
  }

  div.space3{
    display: inline-block;
    width: 20px;
  }

.tab2 {
  tab-size: 4;
}