.whole
{
    background: rgb(174, 209, 235);
}
.img-size
{
    width:10%;
    height:10%;
}
section.top{
    position:relative;
    width:100%;
    height:80vh;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}
section:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 60%;
  
    
background-color: #1fd1f9;
background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);


    border-radius :0 0 50% 50%/0 0 100% 100%;
     transform:scale(1.5);
     
} 

section .content
{
position :relative;
z-index:1;
margin:0 auto;
max-width: 900px;
text-align :center;
}
section .content h1{
    margin:0;
    padding:0;
    color:#FFF;
    font-size:3em;
}
section .content p{
  
    color:#fff;
    font-size:1.2em;
}
.btn-sign
{
     margin-left:30%; 
}
.sign
{
    width :250px;
    display: inline-block;
    /* padding: 1% 2%; */
    margin :5% 2%; 
}


/* Footer */

footer{
    width:100%;
      position : absolute;
      padding: 5rem;
      padding-top: 7rem;
      background-color: #383e56;
  }
  .social-media
  {
    padding: 10px 0;
    position: absolute ;
    right :100px;
    top: 25px;
  }
  .social-media a,i
  {
    text-decoration: none;
    color:#fff;
    display:inline-block;
    padding-left: 10px;
  }
  .footer-sec
  {
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   padding-left: 20px;
  }
  .footer_img
  {
    margin-top: -40px;
    width :100px;
    margin-bottom: 10%;
    text-align: center;
  }
  .footer-sec h5
  {
    font-size: 1.2rem;
    font-weight: 600;
     color: #fff;
     margin-bottom: 10%;
  }
  .footer-sec a
  {
    font-weight: 400;
    font-size:1rem;
    line-height: 2rem;
    text-decoration: none;
    color: #fff;
  }
  
  .card-holder2 {
    margin: 2em 0;
  }
  
  .card2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
    font-size: 3em;
    font-weight: 800;
    height: 4em;
    width: 64em;
    padding: 0.5em 1em;
    /* border-radius: 0.25em; */
    display: table-cell;
    vertical-align: middle;
    letter-spacing: -2px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .card2 .subtle2 {
    color: #000;
    font-size: 0.5em;
    font-weight: 400;
    letter-spacing: -1px;
  }
  
  .card2 i {
    font-size: 3em;
  }
  
  .bg-gold {
    background: -webkit-linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
    background: -o-linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
    background: -moz-linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  }
  
  .bg-news {
    background: -webkit-linear-gradient(70deg, #ff6464 40%, #5ac8fa 40%);
    background: -o-linear-gradient(70deg, #ff6464 40%, #5ac8fa 40%);
    background: -moz-linear-gradient(70deg, #ff6464 40%, #5ac8fa 40%);
    background: linear-gradient(70deg, #ff6464 40%, #5ac8fa 40%);
  }
  
  .bg-germany {
      color: #fff;
      background: -webkit-linear-gradient(110deg, #000 33%, rgba(0, 0, 0, 0) 33%), -webkit-linear-gradient(110deg, #dd0000 66%, #ffc608 66%);
      background: -o-linear-gradient(110deg, #000 33%, rgba(0, 0, 0, 0) 33%), -o-linear-gradient(110deg, #dd0000 66%, #ffc608 66%);
      background: -moz-linear-gradient(110deg, #000 33%, rgba(0, 0, 0, 0) 33%), -moz-linear-gradient(110deg, #dd0000 66%, #ffc608 66%);
      background: linear-gradient(110deg, #000 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(110deg, #dd0000 66%, #ffc608 66%);
  }
  
  .bg-aurora {
      color: #fff;
      background: -webkit-linear-gradient(-70deg, #fa7c30 30%, rgba(0, 0, 0, 0) 30%), url('https://www.nasa.gov/sites/default/files/thumbnails/image/pia21421-cr.jpg');
      background: -o-linear-gradient(-70deg, #fa7c30 30%, rgba(0, 0, 0, 0) 30%), url('https://www.nasa.gov/sites/default/files/thumbnails/image/pia21421-cr.jpg');
      background: -moz-linear-gradient(-70deg, #fa7c30 30%, rgba(0, 0, 0, 0) 30%), url('https://www.nasa.gov/sites/default/files/thumbnails/image/pia21421-cr.jpg');
      background: linear-gradient(-70deg, #fa7c30 30%, rgba(0, 0, 0, 0) 30%), url('https://www.nasa.gov/sites/default/files/thumbnails/image/pia21421-cr.jpg');
    background-size: cover;
    background-position: 50% 21%;
    text-align: right;
  }
  
  .bg-germany {
      color: #fff;
      background: -webkit-linear-gradient(110deg, #000 33%, rgba(0, 0, 0, 0) 33%), -webkit-linear-gradient(110deg, #dd0000 66%, #ffc608 66%);
      background: -o-linear-gradient(110deg, #000 33%, rgba(0, 0, 0, 0) 33%), -o-linear-gradient(110deg, #dd0000 66%, #ffc608 66%);
      background: -moz-linear-gradient(110deg, #000 33%, rgba(0, 0, 0, 0) 33%), -moz-linear-gradient(110deg, #dd0000 66%, #ffc608 66%);
      background: linear-gradient(110deg, #000 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(110deg, #dd0000 66%, #ffc608 66%);
  }
  
  .bg-purple {
      color: #fff;
      background: -webkit-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), -webkit-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
      background: -o-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), -o-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
      background: -moz-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), -moz-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
      background: linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
  }
  
  .bg-spring {
      background: -webkit-linear-gradient(70deg, #fff810  30%, rgba(0,0,0,0) 30%), -webkit-linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
      background: -o-linear-gradient(70deg, #fff810  30%, rgba(0,0,0,0) 30%), -o-linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
      background: -moz-linear-gradient(70deg, #fff810  30%, rgba(0,0,0,0) 30%), -moz-linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
      background: linear-gradient(70deg, #fff810  30%, rgba(0,0,0,0) 30%), linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
  }










  * {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #777;
}

h1 {
  display: block;
    font-size: 36px;
    color: #555;
    font-weight: bold;
}

h3 {
    font-size: 24px;
    color: #333;
    font-weight: bold;
}
div.team-heading{
  margin-left:700px;
}

div.team-sec
{
 margin-left:250px;
}
#team i {
    font-size: 26px;
    color: #555;
}

#team p {
    font-weight: 500;
}

#team .card {
    border-radius: 0;
    box-shadow: 5px 5px 15px #e74c3c;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}

#team .card:hover {
    background: #e74c3c;
    color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 10px #9e9e9e;
}

#team .card:hover h3,
#team .card:hover i {
    color: #fff;
}
div.card2 h2{
  text-decoration: underline;
}
div.card2 a.mail,div.card2 a.phone
{
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
}