.whole
{
    background: rgb(174, 209, 235);
}
.img-size
{
    width:10%;
    height:10%;
}
section{
    position:relative;
    width:100%;
    height:80vh;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}
section:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 60%;
  
    
background-color: #1fd1f9;
background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);


    border-radius :0 0 50% 50%/0 0 100% 100%;
     transform:scale(1.5);
     
} 

section .content
{
position :relative;
z-index:1;
margin:0 auto;
max-width: 900px;
text-align :center;
}
section .content h1{
    margin:0;
    padding:0;
    color:#FFF;
    font-size:3em;
}
section .content p{
  
    color:#fff;
    font-size:1.2em;
}
.btn-sign
{
     margin-left:30%; 
}
.sign
{
    width :250px;
    display: inline-block;
    /* padding: 1% 2%; */
    margin :5% 2%; 
}


/* Footer */

footer{
    width:100%;
      position : absolute;
      padding: 5rem;
      padding-top: 7rem;
      background-color: #383e56;
  }
  .social-media
  {
    padding: 10px 0;
    position: absolute ;
    right :100px;
    top: 25px;
  }
  .social-media a,i
  {
    text-decoration: none;
    color:#fff;
    display:inline-block;
    padding-left: 10px;
  }
  .footer-sec
  {
  
   font-family: 'Montserrat', sans-serif;
   padding-left: 20px;
  }
  .footer_img
  {
    margin-top: -40px;
    width :100px;
    margin-bottom: 10%;
    text-align: center;
  }
  .footer-sec h5
  {
    font-size: 1.2rem;
    font-weight: 600;
     color: #fff;
     margin-bottom: 10%;
  }
  .footer-sec a
  {
    font-weight: 400;
    font-size:1rem;
    line-height: 2rem;
    text-decoration: none;
    color: #fff;
  }
  