
  .Sidebar{
    height: 38rem;
    width: 250px;
    background-color: #FF5A5F;
  }
  .list{
    height: auto;
    padding: 0;
    width: 100%;
  }
  .list .row{
    width: 100%;
    height: 70px;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    color:pink;
    justify-content: center;
    align-items: center;
  }
  .list .row:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.1);
  }
  .row #icon{
    flex: 30%;
    display: grid;
    place-items: center;
  }
  .row #title{
    flex: 70%;
  }
  
  