body {
  text-decoration: none;
}
.profile {
  display: flex;
}
.info {
  padding: 100px 50px;
  background-color: aliceblue;
  justify-content: center;
  align-items: center;
  margin-left: 25rem;
  margin-top: 3rem;
  border-radius: 10px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
  font-size: 20px;
  line-height: 2rem;
}
