.register-screen {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-screen__form {
  position: absolute;
  top:50px;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  background-color: rgba(225, 225, 225);
}

.register-screen__title {
  text-align: center;
  margin-bottom: 1rem;
}



:root {
  --card-line-height: 1.2em;
  --card-padding: 1em;
  --card-radius: 0.5em;
  --color-green: #558309;
  --color-gray: #e2ebf6;
  --color-dark-gray: #c4d1e1;
  --radio-border-width: 2px;
  --radio-size: 0px;
}
.grid {
  display: grid;
  grid-gap: var(--card-padding);
  margin: 0 auto;
  max-width: 60em;
  padding: 0;
}
@media (min-width: 42em) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.card {
  background-color: #fff;
  border-radius: var(--card-radius);
  position: relative;
}
.card:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
.radio {
  font-size: inherit;
  margin: 0;
  display: none;
  /* position: absolute;
    right: calc(var(--card-padding) + var(--radio-border-width));
    top: calc(var(--card-padding) + var(--radio-border-width)); */
}
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .radio:checked {
    background: var(--color-green);
    border-color: var(--color-green);
  }
  .card:hover .radio {
    border-color: var(--color-dark-gray);
  }
  .card:hover .radio:checked {
    border-color: var(--color-green);
  }
}
.plan-details {
  border: var(--radio-border-width) solid var(--color-gray);
  border-radius: var(--card-radius);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: var(--card-padding);
  transition: border-color 0.2s ease-out;
}
.card:hover .plan-details {
  border-color: var(--color-dark-gray);
}
.radio:checked ~ .plan-details {
  border-color: var(--color-green);
}
.radio:focus ~ .plan-details {
  box-shadow: 0 0 0 2px var(--color-dark-gray);
}
.radio:disabled ~ .plan-details {
  color: var(--color-dark-gray);
  cursor: default;
}
.radio:disabled ~ .plan-details .plan-type {
  color: var(--color-dark-gray);
}
.card:hover .radio:disabled ~ .plan-details {
  border-color: var(--color-gray);
  box-shadow: none;
}
.card:hover .radio:disabled {
  border-color: var(--color-gray);
}
.plan-type {
  color: var(--color-green);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1em;
}
.plan-cost {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0.5rem 0;
}
.slash {
  font-weight: normal;
}
.plan-cycle {
  font-size: 2rem;
  font-variant: none;
  border-bottom: none;
  cursor: inherit;
  text-decoration: none;
}
.hidden-visually {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}
.last-name:active {
  background-color: aliceblue;
}
.first-name:focus {
  background-color: aliceblue;
}
.last-name:focus {
  background-color: aliceblue;
}
.next{
  margin-left: 90px;
}















#flip-card {
 
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -o-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.do-flip {
  -o-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

#flip-card .flip-card-front, #flip-card .flip-card-back{
  
  position: absolute;
  -o-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;

}

#flip-card .flip-card-back {
    
    -o-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.register-screen__form{
  margin-right: 50px;
  position: absolute;
  width:450px;
  height:750px;
  top:50px;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  background-color: rgba(225, 225, 225);
}
#flip-card-btn-turn-to-back
{
  margin: 25px 120px;
  width:100px;
  height: 50px;
  border-radius: 25px;
  background-color: #3c3f58;

}
.form-group
{
  padding-right: 50px;
  padding-left: 30px;
}

label .card{
    user-select: auto;
    width: 252px;
    height: 212px;

}

.btn-register
{
  background-color: #3c3f58;
  margin-left: 120px;
width:200px;
}

.register-screen__subtext {
  font-size: 0.7rem;
  display: block;
  margin: 0.5rem 35px;
}