.register-screen {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-screen__form {
  position: absolute;
  top:50px;
  left:150px;
  padding: 1.5rem;
  border-radius: 10px;

 
}

.register-screen__title {
  text-align: center;
  margin-bottom: 1rem;
}



:root {
  --card-line-height: 1.2em;
  --card-padding: 1em;
  --card-radius: 0.5em;
  --color-green: #558309;
  --color-gray: #e2ebf6;
  --color-dark-gray: #c4d1e1;
  --radio-border-width: 2px;
  --radio-size: 0px;
}
.grid {
  display: grid;
  grid-gap: var(--card-padding);
  margin: 0 auto;
  max-width: 60em;
  padding: 0;
}
@media (min-width: 42em) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.card {
  background-color: #fff;
 
  border-radius: var(--card-radius);
  position: relative;
}
.card:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
.radio {
  font-size: inherit;
  margin: 0;
  display: none;
  /* position: absolute;
    right: calc(var(--card-padding) + var(--radio-border-width));
    top: calc(var(--card-padding) + var(--radio-border-width)); */
}
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .radio:checked {
    background: var(--color-green);
    border-color: var(--color-green);
  }
  .card:hover .radio {
    border-color: var(--color-dark-gray);
  }
  .card:hover .radio:checked {
    border-color: var(--color-green);
  }
}
.plan-details {
  border: var(--radio-border-width) solid var(--color-gray);
  border-radius: var(--card-radius);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: var(--card-padding);
  transition: border-color 0.2s ease-out;
}
.card:hover .plan-details {
  border-color: var(--color-dark-gray);
}
.radio:checked ~ .plan-details {
  border-color: var(--color-green);
}
.radio:focus ~ .plan-details {
  box-shadow: 0 0 0 2px var(--color-dark-gray);
}
.radio:disabled ~ .plan-details {
  color: var(--color-dark-gray);
  cursor: default;
}
.radio:disabled ~ .plan-details .plan-type {
  color: var(--color-dark-gray);
}
.card:hover .radio:disabled ~ .plan-details {
  border-color: var(--color-gray);
  box-shadow: none;
}
.card:hover .radio:disabled {
  border-color: var(--color-gray);
}
.plan-type {
  color: var(--color-green);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1em;
}
.plan-cost {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0.5rem 0;
}
.slash {
  font-weight: normal;
}
.plan-cycle {
  font-size: 2rem;
  font-variant: none;
  border-bottom: none;
  cursor: inherit;
  text-decoration: none;
}
.hidden-visually {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}
.last-name:active {
  background-color: aliceblue;
}
.first-name:focus {
  background-color: aliceblue;
}.last-name:focus {
  background-color: aliceblue;
}
.next{
  margin-left: 90px;
}






.register {
  background: linear-gradient(315deg, #1fd1f9 0%, #780aaf 74%);
  margin-top: 3%;
  padding: 3%;
  overflow: hidden;
}
.register .register-form {
  padding: 10%;
  margin-top: 10%;
}
@media (max-width: 991px) {
  .register .register-form {
    margin-top: 16%;
 }
}
@media (max-width: 667px) {
  .register .register-form {
    margin-top: 20%;
 }
}
.register .nav-tabs {
  margin-top: 3%;
  border: none;
  background: #49046c;
  border-radius: 1.5rem;
  width: 28%;
  float: right;
}
@media (max-width: 991px) {
  .register .nav-tabs {
    width: 33%;
    margin-top: 8%;
 }
}
.register .nav-tabs .nav-link {
  padding: 2%;
  height: 34px;
  font-weight: 600;
  color: #fff;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover {
  border: none;
}
.register .nav-tabs .nav-link.active {
  width: 100px;
  color: #49046c;
  border: 2px solid #49046c;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
.register-left {
  text-align: center;
  color: #fff;
  margin-top: 4%;
}
.register-left input {
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  width: 60%;
  background: #f8f9fa;
  font-weight: bold;
  color: #383d41;
  margin-top: 30%;
  margin-bottom: 3%;
  cursor: pointer;
}
.register-left img {
  margin-top: 15%;
  margin-bottom: 5%;
  width: 25%;
  animation: mover 1s infinite alternate;
}
.register-left p {
  font-weight: lighter;
  padding: 12%;
  margin-top: -9%;
}
.register-right {
  background: #f8f9fa;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
 }
  100% {
    transform: translateY(-20px);
 }
}
@keyframes mover {
  0% {
    transform: translateY(0);
 }
  100% {
    transform: translateY(-20px);
 }
}
.btnRegister {
  float: right;
  margin-top: 10%;
  border: none;
  border-radius: 1.5rem;
 

  padding: 2%;
  background: #49046c;
  color: #fff;
  font-weight: 600;
  width: 50%;
  cursor: pointer;
}
.register-heading {
  text-align: center;
  margin-top: 8%;
  margin-bottom: -15%;
  color: #495057;
}
@media (max-width: 991px) {
  .register-heading {
    font-size: 1.5rem;
 }
}








