body{
    text-decoration: none;
}
.userarticles{
    display: flex;
}
.itemsContainer {
    position: absolute;
    left:250px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

  }

  .info {
      /* background-color: blue; */
      margin-bottom: 200px;
  }
  .cover.c
  {
     
      width:600px;
      margin-left: 20px;
  }

  .icon-1{
      float: right;
  }
  #article-carousel
  {
      width:400px;
      height: 500px;
      position: absolute;
      top:50px;
      left:250px;
    }
    #article-carousel img{
        width:400px;
        height: 500px;
    }