/* div.item {
    background-color:tan ;
    border: solid 2px black;
    display: flex;
    width: 20%;
} */
body{
    text-decoration: none;
}
/* .myarticles{
display: grid;
grid-template-columns: repeat(3,1fr);
} */
.itemsContainer {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    display: grid;
  grid-template-columns: repeat(3, 2fr);
  }
  .search {
    margin-left: 45rem;
    margin-top: 3rem;
  }
.item {
    background-color: #acdbdf;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
  }

  .cover {
    color: rgb(53, 53, 53);
    margin-left: 2%;
    background-color: cornsilk;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  /* .cover:hover {
    color: rgb(53, 53, 53);
    margin-left: 25%;
    background-color: rgb(224, 218, 191);
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 10px;
  } */

  Link{
      text-decoration: none;
  }