/* div.item {
    background-color:tan ;
    border: solid 2px black;
    display: flex;
    width: 20%;
} */
body {
  text-decoration: none;
}
/* .myarticles{
display: grid;
grid-template-columns: repeat(3,1fr);
} */
.itemsContainers {
  width: 80%;
  margin-left: 240px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cover.c
{
   height: 200px;
    width:600px;
    margin-left: 30px;
}

.search {
  margin: 3rem 36rem;
  display: flex;
}
input[type="search"] {
  width: 500px;
  border-radius: 10px;
  margin: 5px 10px;
  border-style: none;
}
input[type="search"]:hover {
  border-style: none;
}
.search-icon {
  color: black;
  font-size: 20px;
  margin: 15px 0px;
  float: left;
}
.s {
  padding: 10px;
}
/* .item {
  background-color: red;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
} */

.cover {
  width: 50%;
  color: rgb(53, 53, 53);
  margin-left: 2%;
  background-color: rgb(246, 246, 246);
  padding: 25px;
  padding-bottom: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  /* text-overflow: ellipsis; */
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}

/* .cover:hover {
    color: rgb(53, 53, 53);
    margin-left: 25%;
    background-color: rgb(224, 218, 191);
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 10px;
  } */

Link {
  text-decoration: none;
}
